#header {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: transparent;
    height: 50px;
    width: 600px;
    z-index: 4000;
}

#footer {
    position: fixed;
    left: 0px;
    top: 100%;
    margin-top: -48px;
    background-color: #B31B1B;
    height: 48px;
    width: 100%;
    z-index: 100;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
}


body {
    font-family: 'Segoe UI', sans-serif !important;
    margin: 0px;
}

span {
    font-style: italic;
}

.actiondiv {
    float: left;
    padding-right: 5px;
}

canvas {
    margin: 8px;
}

.programdiv {
    padding-top: 48px;
}

.ui-tabs-nav {
    position: fixed;
    width: 100%;
    padding: 2px !important;
    padding-left: 642px !important;
    padding-bottom: 0px !important;
    z-index:3000;
}

.ui-tabs-panel {
    padding-top: 48px !important;
    padding-left: 620px !important;
    /*margin-top: 48px;*/
}

    .ui-tabs-panel > div {
        border: 5px #b31b1b solid !important;
    }

.ui-corner-all {
    border-radius: unset;
}

#maintabs .ui-state-active a {
    color: #ffffff;
}

#maintabs .ui-state-active {
    background: linear-gradient(to bottom, #b20000 0%,#7f0000 48%,#700000 51%,#b31b1b 100%);
}

.ui-tabs {
    position: unset;
    border: none;
}

.ui-tabs-tab {
    height: 42px;
}

.hidden {
    display: none;
}

.newButton {
    width: 100px;
}

.activeactionlink {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    background: #00aa00;
    text-align: left;
}

.actionlink {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

a.actionlink:active {
}

a.activeactionlink:active {
}


a.actionlink:hover {
    background: #4cff00;
}

a.activeactionlink:hover {
    background: #4cff00;
}

.actionlink img {
    vertical-align: middle;
}

.activeactionlink img {
    vertical-align: middle;
}

button.upbutton {
    border: none;
    background-image: url(up.png);
    display: inline-block;
    background-color: transparent;
    width: 48px;
    height: 48px;
}

button.downbutton {
    border: none;
    background-color: transparent;
    background-image: url(down.png);
    display: inline-block;
    width: 48px;
    height: 48px;
}

button.deletebutton {
    border: none;
    background-color: transparent;
    background-image: url(delete.png);
    display: inline-block;
    width: 48px;
    height: 48px;
}

button.upbutton:hover:not(:disabled) {
    background-color: #4cff00;
}

button.upbutton:active:not(:disabled) {
    background-position: 1px 1px;
    background-color: #3cef00;
}

button.downbutton:hover:not(:disabled) {
    background-color: #4cff00;
}

button.downbutton:active:not(:disabled) {
    background-position: 1px 1px;
    background-color: #3cef00;
}

button.deletebutton:hover:not(:disabled) {
    background-color: #ff0000;
}

button.deletebutton:active:not(:disabled) {
    background-position: 1px 1px;
    background-color: #aa0000;
}

#map {
    position: fixed;
    left: 0px;
    top: 48px;
    width: 600px;
    padding: 0px;
    z-index: 100;
}

#mapcanvas {
    width: 600px;
    height: 600px;
    margin: 0px;
}

    #mapcanvas canvas {
        margin: 0px;
    }

#main {
    position: absolute;
    left: 0px;
    top: 48px;
    padding-left: 640px;
}

#maintabs {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    width: 100%;
    border: none;
}

    #maintabs > div {
        /*margin-bottom: 48px;*/
    }

#gui {
    padding: 0px;
}

    #gui .editormenu {
        background: #B31B1B;
        position: fixed;
        width: 100%;
        height: 40px;
    }

        #gui .editormenu button {
            background: #B31B1B;
            color: #ffffff;
            height: 36px;
            margin: 2px;
        }

#code {
    padding: 0px;
}

#help {
    padding: 0px;
}

#about {
    padding: 0px;
}

#states {
}

.stateheader {
    background-color: #A2998B;
    border-top: 2px #b31b1b solid;
}

    .stateheader input {
        background-color: #D8D2C9;
        border: none;
        font-size: 1.5em;
        vertical-align: middle;
        font-weight: bold;
        width: 550px;
    }

.startstate .stateheader button.startstatebutton {
    background-color: #00ff00;
    border-style: ridge;
}

button.expander:hover {
    background-color: red;
}

button.expander {
    vertical-align: middle;
    border: none;
    width: 48px;
    height: 48px;
    background: url("minus.png");
}

.collapsed button.expander {
    background: url("plus.png");
}

.collapsed .statebody {
    display: none;
}

.statebody > ul {
    padding-left: 20px;
}

.statebody > button {
    background-color: #A2998B;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 48px;
}

#header {
    text-align: center;
}

    #header button {
        width: 48px;
        height: 48px;
        display: inline-block;
        vertical-align: middle;
    }

        #header button.mapleft {
            background-image: url(west.png);
        }

        #header button.mapright {
            background-image: url(east.png);
        }

        #header button.mapselect {
            background-image: url(change.png);
        }

    #header > div {
        display: inline-block;
    }

    #header span {
        vertical-align: middle;
        width: 300px;
        display: inline-block;
        font-weight: bold;
        font-style: normal;
        font-size: 2em;
    }

.codecontrol {
    background: #B31B1B;
    width: 100%;
    height: 40px;
}

    .codecontrol button {
        background: #B31B1B;
        color: #ffffff;
        height: 36px;
        margin: 2px;
    }

.picocode {
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.picoerrors {
    display: block;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

/*New stuff*/

.wallstateselector {
    display: inline-block;
    height: 48px;
    width: 48px;
    position: relative;
}

    .wallstateselector .wallstateselectiondiv {
        position: absolute;
        top: -48px;
        z-index: 5000;
    }

    .wallstateselector button {
        display: block;
        width: 48px;
        height: 48px;
    }

    .wallstateselector .wallstateany {
        background-image: url(wsany.png);
        background-size: 48px 48px;
        background-position: center;
    }

    .wallstateselector .wallstatefree {
        background-image: url(wsfree.png);
        background-size: 48px 48px;
        background-position: center;
    }

    .wallstateselector .wallstatewall {
        background-image: url(wswall.png);
        background-size: 48px 48px;
        background-position: center;
    }

    .wallstateselector .active {
        background-color: #63c86f;
    }

    .wallstateselector button:hover {
        background-color: #3cef00;
    }

.robotsensor {
    display: inline-block;
    width: 144px;
    height: 96px;
    position: relative;
}

    .robotsensor .wallstateleft {
        left: 0px;
        top: 48px;
        position: absolute;
    }

    .robotsensor .wallstatefront {
        left: 48px;
        top: 0px;
        position: absolute;
    }

    .robotsensor .wallstateright {
        left: 96px;
        top: 48px;
        position: absolute;
    }

    .robotsensor canvas {
        display: inline-block;
        margin: 0px;
        position: absolute;
        width: 48px;
        height: 48px;
        left: 48px;
        top: 48px;
    }

.rule {
    height: 112px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #A2998B;
    margin-bottom: 5px;
    vertical-align: middle;
    border-style: ridge;
    padding: 5px;
    display: inline-flex;
    position:relative;
    cursor:grab;
}

    .rule .ruleconditions {
        display: inline-block;
        /*width: 160px;*/
        text-align: center;
        vertical-align:middle;
    }

        .rule .ruleconditions ul {
            text-align: left;
        }

        .rule .ruleconditions li {
            list-style: none;
            width: 280px;
            position: relative;
            cursor: grab;
        }

            .rule .ruleconditions li .actiondeletebutton {
                display: inline-block;
                width: 48px;
                height: 48px;
                background-image: url(delete.png);
                background-size: 48px 48px;
                vertical-align: middle;
                position: absolute;
                right: 0px;
            }

            .rule .ruleconditions li span {
                vertical-align: middle;
            }

    .rule .rulesplit {
        display: inline-block;
        width: 32px;
        background-image:url("do.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }

    .rule .ruleactionlist {
        display: inline-block;
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        overflow-y: scroll;
    }

        .rule .ruleactionlist:empty {
            background-image: url("actionsonlylabel.png");
            background-size: 180px;
            background-position: left center;
            background-repeat: no-repeat;
        }
        .rule .memorydroppable:empty {
            background-image: url("actionslabel.png");
            background-size: 270px;
            background-position: left center;
            background-repeat: no-repeat;
        }

    .rule .ruleactions li {
        list-style: none;
        width: 280px;
        position: relative;
        cursor: grab;
    }

    .rule .ruleactions span {
        vertical-align: middle;
    }

    .rule .ruleactions .actiondeletebutton {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-image: url(delete.png);
        background-size: 48px 48px;
        vertical-align: middle;
        position: absolute;
        right: 0px;
    }

    .rule .ruledeletebutton {
        display: inline-block;
        width: 48px;
        height: 96px;
        background-image: url(delete.png);
        background-size: 48px 48px;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        right: 5px;
    }

.runcontrols {
    background: #ffffff;
}

    .runcontrols .tostartbutton {
        background-image: url(tostart.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .runcontrols .stepbackbutton {
        background-image: url(stepback.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .runcontrols .pausebutton {
        background-image: url(pause.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .runcontrols .stepforwardbutton {
        background-image: url(step.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .runcontrols .runbutton {
        background-image: url(play.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

    .runcontrols .fastforwardbutton {
        background-image: url(fastforward.png);
        background-size: 48px 48px;
        display: inline-block;
        width: 48px;
        height: 48px;
    }

.guicontainer {
    display: inline-flex;
    flex-direction: row;
}

.rules {
    display: inline-block;
    width: 900px;
    padding: 10px;
}

    .rules ul {
        padding: 0px;
    }

    .rules img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

.actionrepo {
    width: 200px;
    display: inline-block;
    position: sticky;
    top: 52px;
    height: 100%;
    text-align: center;
    right: 0px;
    border: 4px #B31B1B solid;
    border-right:0px;
}

    .actionrepo > span {
        font-size: 2em;
        font-weight: bold;
        font-style: normal;
    }

    .actionrepo ul {
        width: 100%;
        text-align: left;
        padding: 0px;
    }

    .actionrepo li {
        list-style: none;
        cursor: grab;
    }

    .actionrepo img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
    }

    .actionrepo span {
        vertical-align: middle;
    }

    .actionrepo input {
        width: 140px;
        font-size: 20px;
        border: 0px;
    }

.memoryconditiondiv {
    display: inline-flex;
}

    .memoryconditiondiv .memoryconddiv {
        width: 300px;
        height: 96px;
        display: inline-block;
        margin-left: 16px;
    }

    .memoryconditiondiv .memorycondlist {
        width: 100%;
        height: 100%;
        display: inline-block;
        background: #ffffff;
        overflow-y: scroll;
    }

        .memoryconditiondiv .memorycondlist:empty {
            background-image: url("memoryconditionslabel.png");
            background-size: 280px;
            background-position: left center;
            background-repeat: no-repeat;
        }

.robotmenu {
    background: #B31B1B;
    height:32px;
}
